@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBear.Models.Bear

<html>
<head>
    <title>Gummi Bear - Details</title>
</head>
<body>
    <div class="bearindex">
        <h2>Details</h2>
        <hr />
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />

        @Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost) dollars<br />

        @Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)<br /><br />
        <p>@Html.ActionLink("Back to list", "Index")</p>
    </div>
</body>
</html>