@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBear.Models.Bear

<html>
<head>
    <title>Gummi Bear - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @Html.DisplayNameFor(model => model.Cost): @Html.DisplayFor(model => model.Cost) dollars
    @Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.Country)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>