@model GummiBear.Models.Bear

<html>
<head>
    <title>Gummi Bear - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this bear: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.BearId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Cost)
        @Html.EditorFor(model => model.Cost)

        @Html.LabelFor(model => model.Country)
        @Html.EditorFor(model => model.Country)


        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>
