@{
    ViewData["Title"] = "Gummi Bear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBear.Models.Bear>

<html>
<head>
    <title>Kingdom</title>
</head>
<body>
    <h2>Gummi Bears</h2>
    <ul>
        @foreach (var listBear in Model)
        {
            <li>@Html.DisplayFor(modelBear => listBear.Name)| @Html.ActionLink("Details", "Details", new { id = listBear.BearId }) | @Html.ActionLink("Edit", "Edit", new { id = listBear.BearId }) | @Html.ActionLink("Delete", "Delete", new { id = listBear.BearId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new gummi bear", "Create")</p>
</body>
</html>
